@font-face {
    font-family: 'Roboto';
    src: url('Roboto-font-formatted/Roboto-Regular.woff2') format('woff2'),
        url('Roboto-font-formatted/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

/* #region Reseting default styles */

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-size: 1em;
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/* #endregion */



body {
    font-family:'Roboto','Times New Roman', Times, serif;
    margin: 0;
    height: 100vh; 
    overflow: hidden;   
    background: url("images/background-image-for-sign-up.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;    
    margin-top: 20vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: rgba(188, 182, 182, 0.699);  
    width: max(20rem, 20%);  
    padding: 2em 3em;    
}

#logo {
    width: 50px;
    opacity: 50%;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-block input{
    display: block;
    border-radius: 3px;
    border: 1px ridge gray;
}

.input-block input:focus {
    border: 1px solid rgb(89, 193, 228);
    outline: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

#password:invalid,
#confirmed-password:invalid {
    border: 1px solid red;
}

label {
    font-size: 0.85rem;
    color: rgb(40, 40, 40);
}

button {        
    font-family: 'Roboto','Times New Roman', Times, serif;
    border: none;
    border-radius: 8px;
    padding: 1em; 
    background-color: rgba(135, 207, 235, 0.66);  
    color: rgb(40, 40, 40); 
}

button:hover {
    cursor: pointer;
    background-color: rgba(91, 187, 225, 0.66);
}

button:active {
    background-color: rgba(51, 170, 217, 0.66);
}

.log-in {
    padding: 2px;
    border-radius: 5px 10px 5px 10px;
    background-color: rgba(248, 248, 255, 0.587);
    font-weight: bold;
}

#log-in {
    color: rgb(58, 58, 255);
}

.credentials {
    color:white;
    position: absolute;
    bottom: 0px;  
    right: 0.5rem;  
}

a {
    color: white;    
}